/* External stylesheet for CITY COLLECTION */

/* General */
html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Bookletter';
	src: url('https://github.com/hariboinmypocket/theleagueof-goudy-bookletter-1911/blob/master/webfonts/goudy_bookletter_1911-webfont.woff');
}

a:link {
	color: #ffffff;
	text-decoration: none;
	
/* Index page */

#nyc.hover, #nyc.active {
	color: #affffb;
}

#la.hover, #la.active {
	color: #faffaf;
}

#shanghai.hover, #shanghai.active {
	color: #bfffaf;
}

#tokyo.hover, #tokyo.active {
	color: #ddafff;
}
